// color
$c-white: #fff;
$c-primary: #222;
$c-pink: #ee87b4;
$c-light-black: #212121;
$c-back-gray: #f8f8f8;

// font-family
$f-primary: "Noto Sans JP", sans-serif;
$f-primary-en: "Montserrat", sans-serif;

// z-index
$z-index-header: 9999;
$z-index-hamburgerMenu: 9998;
$z-index-hamburgerBtn: 9999;
